@import '../../variables';

.root {
  background: linear-gradient(180deg, $third 0%, $second 100%);
  min-height: calc(100vh - #{$header-height});
  overflow-x: hidden;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: $margin-extra-large !important;
}

.contentLeft {
  max-width: 506px;
}

.contentTitle {
  margin-bottom: $margin-extra-small;
}

.contentDescription {
  margin-bottom: $margin-small;
}
