$third: #f5db13;
$primary: #f2b807;
$second: #f28f16;
$danger: #d93e30;
$white: #f2f2f2;
$dark: #212121;

$pokemon-green: #70a83b;
$pokemon-grey: #a2a2a2;
$pokemon-light-blue: #a2cff0;
$pokemon-blue: #76aadb;
$pokemon-orange: #f76545;
$pokemon-purple: #a974bc;
$pokemon-brown: #9b897b;
$pokemon-yellow: #f7c545;

$header-width: 1125px;
$layout-width: 1280px;

$margin-extra-large: 120px;
$margin-large: 96px;
$margin-medium: 80px;
$margin-small: 64px;
$margin-extra-small: 32px;

$header-height: 93px;

$h1: 72px;
$h2: 64px;
$h3: 36px;
$h4: 24px;
$h5: 18px;
$h6: 12px;
